/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2015, 12:04:01 PM
    Author     : jalpa
*/

article h2
{
    color: royalblue;
    font-family: Times New Roman,Georgia,serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0px;
}

article h3
{
    color: royalblue;
    font-family: Times New Roman,Georgia,serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-top: 0px;
}

article p
{
    color: maroon;
    font-family: Times New Roman,Georgia,serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-spacing: 0.5px;
    line-height: 175%;
}

article img
{
    border-image-width: 0px;
}
article p a
{
    color: red;
    font-style: italic;
}

article p a:hover
{
    color: blue;
}

article p::first-letter
{
    color: maroon;
    font-size: 150%;
}

aside h2
{   
    color: darkmagenta;
    font-family: Times New Roman,Georgia,serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-spacing: 1em;
    margin-bottom: 0;
}

aside h3
{
    color: darkmagenta;
    font-family: Times New Roman,Georgia,serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-spacing: 1em;
    margin-top: 0;
}

aside p
{
    color: brown;
    font-family: Times New Roman,Georgia,serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    margin-left: 20px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 200%;
}

aside h4
{
    color: darkmagenta;
    font-family: Times New Roman,Georgia,serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-spacing: 1em;
    margin-top: 5px;
    margin-bottom: 0;
}
